/* styles/Tree.module.css */
.treeContainer {
  font-family: sans-serif;
}

.treeContainer ul {
  list-style: none;
  padding-left: 20px;
}

.treeContainer li {
  margin: 5px 0;
}

.folder {
  cursor: pointer;
  color: blue; /* Or any color you prefer */
  text-decoration: underline;
}
.folder:hover{
    color: darkblue;
}

.copyButton {
    margin-bottom: 10px;
    padding: 8px 12px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.copyButton:disabled {
    background-color: #cccccc; /* Gray */
    cursor: not-allowed;
}
